Schemas/multicacheschemas/PRPA_MT400001CN.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT400001CN.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* Saved in XML file by RMIM Designer in Visio at 2018-05-15T21:55:38
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8926 2014-04-29 15:36:04Z woody_beeler $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.12
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8927 2014-07-24 13:52:34Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
/****************************************************************************************
  * Copyright (c) 2018 Health Level Seven International
  * All rights reserved. All contributors are assumed to participate freely in
  * IP sharing without restriction.  All licensing conforms to the Open Health
  * Tools IP Policy. http://www.openhealthtools.org/ip_policy.htm.
  * The Eclipse Public License shall serve as the primary license for the
  * contributions. http://www.eclipse.org/legal/epl-v10.html.
  *
  * Contributors: Health Level Seven International - initial implementation
  ****************************************************************************************/			
				-->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 3.4.12. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2018-05-15T21:55:38
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8926 2014-04-29 15:36:04Z woody_beeler $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot-r2b.xsd"/>
	<xs:complexType name="PRPA_MT400001CN.AdministrationAge">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="PQ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Admitter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedAdmitter" type="PRPA_MT400001CN.AssignedAdmitter" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ADM"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.AdmitterPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Appointment">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodAppointment" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.AssignedAdmitter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedAdmitterPerson" type="PRPA_MT400001CN.AdmitterPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.AssignedAttender">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedAttenderPerson" type="PRPA_MT400001CN.AttenderPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.AssignedAuthor">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedDxPerson" type="PRPA_MT400001CN.DxPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.AssignedConsultant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedConsultantPerson" type="PRPA_MT400001CN.ConsultantPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.AssignedOrganization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedResponsibleOrganization" type="PRPA_MT400001CN.ResponsibleOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.AssignedDirector">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedDirectorPerson" type="PRPA_MT400001CN.DirectorPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.AssignedDischarger">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedDischargerPerson" type="PRPA_MT400001CN.DischargerPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.AssignedReferrer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedReferrerPerson" type="PRPA_MT400001CN.ReferrerPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="representedReferrerOrganization" type="PRPA_MT400001CN.ReferrerOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Attender">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedAttender" type="PRPA_MT400001CN.AssignedAttender" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ATND"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.AttenderPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedAuthor" type="PRPA_MT400001CN.AssignedAuthor" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Birthplace">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="birthplace" type="PRPA_MT400001CN.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassBirthplace" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Component">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="administrationAge" type="PRPA_MT400001CN.AdministrationAge" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Component2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="encounterCounter" type="PRPA_MT400001CN.EncounterCounter" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Consultant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedConsultant" type="PRPA_MT400001CN.AssignedConsultant" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CON"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.ConsultantPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.DirectorPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Discharger">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedDischarger" type="PRPA_MT400001CN.AssignedDischarger" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="DIS"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.DischargerPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.DxPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Beneficiary">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beneficiaryRole" type="PRPA_MT400001CN.BeneficiaryRole" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationBeneficiary" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.BeneficiaryRole">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="groupEnsuranceEntity" type="PRPA_MT400001CN.EnsuranceEntity" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassMember" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.CoverageRecord">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="beneficiary" type="PRPA_MT400001CN.Beneficiary" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassCoverage" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.CoveredParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="coverageRecord" type="PRPA_MT400001CN.CoverageRecord" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationCoverageTarget" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.EnsuranceEntity">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.EncounterCounter">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="PQ" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.EncounterEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="priorityCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="confidentialityCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="reasonCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="admissionReferralSourceCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dischargeDispositionCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="specialCourtesiesCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="subject" type="PRPA_MT400001CN.Subject" minOccurs="1" maxOccurs="1"/>
			<xs:element name="responsibleParty" type="PRPA_MT400001CN.ResponsibleParty" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="admitter" type="PRPA_MT400001CN.Admitter" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="attender" type="PRPA_MT400001CN.Attender" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="discharger" type="PRPA_MT400001CN.Discharger" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="referrer" type="PRPA_MT400001CN.Referrer" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="consultant" type="PRPA_MT400001CN.Consultant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="location" type="PRPA_MT400001CN.Location1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participation" type="PRPA_MT400001CN.Participant" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="inFulfillmentOf" type="PRPA_MT400001CN.InFulfillmentOf" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="reason" type="PRPA_MT400001CN.Reason1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="component1" type="PRPA_MT400001CN.Component" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="component2" type="PRPA_MT400001CN.Component2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="ENC"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.InFulfillmentOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="appointment" type="PRPA_MT400001CN.Appointment" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="FLFS"/>
		<xs:attribute name="blockedContextParticipationType" type="set_ParticipationType" use="optional" default="ADM ATND CON DIS NOT REF RESP"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.LocatedEntityPartOf">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="location" type="PRPA_MT400001CN.ServiceDeliveryPlace" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Location1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="serviceDeliveryLocation" type="PRPA_MT400001CN.ServiceDeliveryLocation" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.ObservationDx">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="value" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="PRPA_MT400001CN.Author" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="required"/>
		<xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
		<xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Participant">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="assignedDirector" type="PRPA_MT400001CN.AssignedDirector" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationParticipation" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Patient">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="patientPerson" type="PRPA_MT400001CN.Person" minOccurs="1" maxOccurs="1"/>
			<xs:element name="providerOrganization" type="PRPA_MT400001CN.ProviderOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="coveredPartyOf" type="PRPA_MT400001CN.CoveredParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassPatient" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Person">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" minOccurs="1" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="administrativeGenderCode" type="CD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="birthplace" type="PRPA_MT400001CN.Birthplace" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Place">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.ProviderOrganization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Reason1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="observationDx" type="PRPA_MT400001CN.ObservationDx" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RSON"/>
		<xs:attribute name="blockedContextParticipationType" type="ParticipationType" use="optional" fixed="PART"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Referrer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="modeCode" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedReferrer" type="PRPA_MT400001CN.AssignedReferrer" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="REF"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.ReferrerOrganization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.ReferrerPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.ResponsibleOrganization">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.ResponsibleParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assignedOrganization" type="PRPA_MT400001CN.AssignedOrganization" nillable="true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.ServiceDeliveryLocation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="location" type="PRPA_MT400001CN.ServiceDeliveryPlace" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.ServiceDeliveryPlace">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
			<xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="directionsText" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="positionText" type="ED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="asLocatedEntityPartOf" type="PRPA_MT400001CN.LocatedEntityPartOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
		<xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
	</xs:complexType>
	<xs:complexType name="PRPA_MT400001CN.Subject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="patient" type="PRPA_MT400001CN.Patient" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
	</xs:complexType>
</xs:schema>
